# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=reto1
POSTGRES_PORT=5432

# API Gateway y frontend
GATEWAY_PORT=8080
FRONTEND_PORT=5173
VITE_API_BASE_URL=http://localhost:8080/v2/api

# Variables usadas por los microservicios dentro de Docker
DB_HOST=postgres
DB_PORT=5432
DB_NAME=reto1
DB_USER=postgres
DB_PASSWORD=postgres
